<section>
  <h2 class="mt-2 mb-4 font-bold text-3xl">Create New Post</h2>

  <form class="new-post-form bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="post-title">Title</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" type="text" id="post-title"
        name="post-title" />
    </div>
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="post-content">Content</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="post-content"
        name="post-content" />
    </div>
    <button type="submit" class="w-1/2 self-center btn m-4 bg-gray-600 hover:bg-gray-800 text-white hover:text-red-600 font-bold py-2 px-4 rounded">Create</button>
  </form>
</section>

<script src="/javascript/add-posts.js"></script>